<!DOCTYPE html>
<html>
<head>
  <title>Eng</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if Setting.get('enabled') %>
    <%= link_to "Switch off", settings_path(:key => "enabled", :value => ""), :method => "post"%>
  <% else %>
    <%= link_to "Switch on", settings_path(:key => "enabled", :value => "true"), :method => "post" %>
  <% end %>
  <form method="post" action="/settings">
    <input type="hidden" name="key" value="timeout"/>
    Hint every <input name="value" value="<%= Setting.get('timeout') %>" size="3"/> seconds
    <input type="submit" >
  </form>
<%= yield %>

</body>
</html>
